<!DOCTYPE html>
<html>
<head>
    <title>Loading Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='loading.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="page_container">

        <div class="logo-container">
            <img class="drop-shadow" src="{{ url_for('static', filename='images/ETA_logo.svg') }}" alt="Logo 1">
        </div>

        <h1 class="drop-shadow">LOADING ROOM STATUS</h1>

        <div id="loading-container">
            <div id="loading-bar">
                <span id="loading-number"></span>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='load_status.js') }}"></script>
</body>
</html>