[Unit]
Description=EscapeWright Task Node
After=network.target

[Service]
Type=simple
StandardOutput=file:/home/lodomo/EscapeWright/TaskNode/logs/Output.log
StandardError=file:/home/lodomo/EscapeWright/TaskNode/logs/Error.log
Restart=on-failure
WorkingDirectory=/home/your_username/EscapeWright/TaskNode/
ExecStart=/bin/bash /home/your_username/EscapeWright/TaskNode/run.sh

[Install]
WantedBy=multi-user.target
