[Unit]
Description=EscapeWright Task Node
After=network.target

[Service]
Type=simple
StandardOutput=append:%h/EscapeWright/TaskNode/logs/Output.log
StandardError=append:%h/EscapeWright/TaskNode/logs/Error.log
Restart=on-failure
WorkingDirectory=%h/EscapeWright/TaskNode/
ExecStart=./run.sh

[Install]
WantedBy=multi-user.target
