/* @import url('_fonts.css'); */
@font-face {
    font-family: 'prime-bold';
    src: url('fonts/courierprime-bold-webfont.woff2') format('woff2'),
         url('fonts/courierprime-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'prime-regular';
    src: url('fonts/courierprime-regular-webfont.woff2') format('woff2'),
         url('fonts/courierprime-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'made-infinity';
    src: url('fonts/made-infinity-webfont.woff2') format('woff2'),
         url('fonts/made-infinity-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'chivo-mono';
    src: url('fonts/ChivoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    /* Colors for backgrounds */
    --red:      #DD3353;
    --orange:   #EC844A;
    --yellow:   #E8CD46;
    --green:    #8EB897;
    --blue:     #639FAB;
    --purple:   #463087;
    --dark:     #222222;
    --light:    #F9F4E9;

    /* Backgrounds */
    --bg-color: var(--light);
    --mobile-content-color: var(--blue);
    --header-bg: var(--light);
    --content-bg: var(--green);

    /* Borders */
    --mobile-content-border: var(--dark);

    /* Fonts */
    --h1-color: var(--dark);
    --kana-color: var(--purple);

    /* padding constants */
    --header-h: 100px;
    --nav-w: 200px;
    --nav-h: 100px;
    --loadtime: 5s;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--orange); /* For Showing Leaks */
    font-family: 'prime-regular', 'courier', monospace;
    font-size: 1.5rem;
    color: var(--dark);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--dark);
    padding: 0px;
    margin: 0px;
}

/* This styles the scrollbar track (the background) */
::-webkit-scrollbar {
    width: 10px; /* for vertical scrollbars */
    height: 10px; /* for horizontal scrollbars */
    transition: all 0.5s ease-in-out;
}

/* This styles the scrollbar thumb (the draggable portion) */
::-webkit-scrollbar-thumb {
    background: var(--dark); /* thumb color */
    border-radius: 10px;
}

/* Options are 'auto', 'thin', and 'none' */
html {
    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0; /* thumb and track color */
}

.page-container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--orange);
}

.loading-screen {
    display: block;
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--purple);
    z-index: 10000;
    /* remove and have javascript add this in */
    animation: slideOutToTop 0.75s ease-in-out var(--loadtime) forwards;
}

.loading-bar-container {
    display: block;
    position: absolute;
    /* centered in div */
    top: calc(50% + 150px);
    left: 50%;
    width: 50%;
    height: 50px;
    background-color: rgba(22, 22, 22, 0.5);
    border: 20px solid rgba(22, 22, 22, 0.5);
    transform: translate(-50%, -50%);
    border-radius: 100px;
}

.loading-bar {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--yellow);
    border-radius: 100px;
}

.flipping-logos {
    display: block;
    position: absolute;
    /* centered in div */
    top: 50%;
    left: 50%;
    width: 0px;
    height: 300px;
    transform: translate(-50%, -50%);
}

.flipping-logos img {
    width: 100%;
    height: 100%;
}

.first-logo {
    animation: flipInAndOut 0.75s ease-in-out forwards ;
}

.second-logo {
    animation: flipInAndOut 0.75s ease-in-out forwards 0.75s;
}

.third-logo {
    animation: flipIn 0.75s ease-in-out forwards 1.5s;
}

@keyframes flipInAndOut {
    0% {
        display: block;
        width: 0px;
    }
    50% {
        display: block;
        width: 300px;
    }
    100% {
        display: none;
        width: 0%;
    }
}

@keyframes flipIn {
    0% {
        display: block;
        width: 0px;
    }
    50% {
        display: block;
        width: 300px;
    }
    100% {
        display: block;
        width: 300px;
    }

}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--header-h);
    min-height: var(--header-h);
    background-color: var(--header-bg);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}

.title-block {
    scale: 0.75;
    display: flex;
    flex-direction: column; /* This will stack children vertically */
    align-items: flex-start; /* Align items to the start of the flex container */
    margin-left: -50px;
    margin-top: -20px;
    display: none; /* Hidden for Mobile */
}

.title-block h1 {
    font-family: 'made-infinity';
    font-size: 50px;
    color: var(--h1-color);
    padding: 0;
    margin-top: -10px;
    margin-bottom: -16px;
    margin-left: 5px;
}

.line {
    height: 5px;
    width: 100%; /* This ensures that the lines take full width if needed */
    margin-left: -30px;
    margin-bottom: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* The katakana that says "ControlPanel" lmao */
.kana {
    width: 100px;
    height: 13px;
    opacity: 1;
    margin-left: 195px;
}

.line.purple {
    background-color: var(--purple);
    width: 220px; /* Adjust width as per design */
}

.line.red {
    background-color: var(--red);
    width: 148px; /* Adjust width as per design */
}

.line.orange {
    background-color: var(--orange);
    width: 115px; /* Adjust width as per design */
}

.status-or-timer {
    display: flex;
    border: 5px solid var(--dark);
    border-top: 0;
    box-shadow: 5px 5px 0px 0px var(--dark);
    font-family: 'chivo-mono';
    font-size: 60px;
    margin-top: -35px;
    width: 90%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s ease-in-out;
    color: var(--light);
}

.status-or-timer.ready {
    background-color: var(--green);
}

.status-or-timer.error {
    background-color: var(--red);
}

.status-or-timer.mtquart {
    background-color: var(--blue);
}

.status-or-timer.ltquart {
    background-color: var(--orange);
}

.status-or-timer.ltfive {
    background-color: var(--red);
}

.control-btn {
    display: flex;
    border: 5px solid var(--dark);
    box-shadow: 5px 5px 0px 0px var(--dark);
    font-family: 'chivo-mono';
    font-size: 40px;
    padding: 5px 20px 5px 20px;
    border-radius: 100px;
    margin-top: -20px;
    margin-left: 20px;
    align-self: center;
    display: none;
}

.control-btn.start {
    color: var(--light);
    background-color: var(--green);
}

.control-btn.pauseresume {
    background-color: var(--yellow);
}

.company-logo {
    display: flex;
    height: 100%;
    margin-top: 0px;
    margin-left: auto;
    display: none;
}

.nav-container {
    display: flex;
    flex-direction: row;
    height: var(--nav-h);
    min-height: var(--nav-h);
    width: 100%;
    background-color: var(--dark);
    position: fixed;
    bottom: 0;
    z-index: 1000; /* high value to ensure it's on top */
}

.nav-btn {
    display: flex;
    flex-grow: 1;
    border: 2px solid rgba(0,0,0,0);
    border-radius: 0px;
    justify-content: center;
    box-shadow: 0px 0px 0px 0px var(--dark);
    transition: all 0.25s ease-in-out;
    padding: 30px;
}

.nav-btn:hover {
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 0px 0px var(--dark);
    border: 2px solid var(--dark);
}

.nav-btn svg { /* This applies the style to all child elements of the SVG */
    pointer-events: none; /* Ignores all pointer events */
    margin: auto;
}

.nav-btn img {
    pointer-events: none; /* Ignores all pointer events */
    margin: auto;
}

.nav-btn.status {
    background-color: var(--light);
}

.nav-btn.script {
    background-color: var(--green);
}

.nav-btn.emergencyprotocols {
    background-color: var(--orange);
}

.nav-btn.reset {
    background-color: var(--blue);
}

.nav-btn.stop {
    background-color: var(--red);
}

.content-container {
    position: absolute;
    background-color: var(--dark);
    margin-top: var(--header-h);
    min-height: calc(100vh - var(--header-h) - var(--nav-h));
    width: 100vw;
    padding-bottom: var(--nav-h);
    overflow: hidden;
}

.content {
    display: none;
    position: absolute;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: scroll;
    padding-top: 20px;
}

.content.status {
    background-image: url('images/status-bg-01.png');
    background-color: var(--light);
}

.content.script {
    background-color: var(--green);
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    background-image: url('images/script-bg-01.png');
}

.content.script h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    background-color: var(--light);
    color: var(--dark);
    text-align: center;
    padding: 10px;
    border: 3px solid var(--dark);
    border-radius: 10px;
    box-shadow: 0px 3px 0px var(--dark);
}

.content.script h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    background-color: var(--blue);
    color: var(--light);
    display: inline-block;
    padding: 10px;
    border: 3px solid var(--dark);
    border-radius: 10px;
    box-shadow: 0px 3px 0px var(--dark);
}

.content.script p {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: var(--dark);
    padding: 5px;
    border-radius: 10px;
    background-color: var(--light);
}

.content.script ul {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: var(--dark);
    padding: 5px;
    border-radius: 10px;
    background-color: var(--light);
}

.content.script li::marker {
    color: var(--light);
}

.content.active {
    display: block;
    min-height: 100%;
    min-width: 100%;
    /* animation: slideInFromRight 0.75s ease-in-out; */
    z-index: 10;
}

.content.inactive {
    display: block;
    min-height: 100%;
    min-width: 100%;
    transform: translateX(100vw);
    /* animation: slideOutToRight 0.75s ease-in-out; */
    /* animation: slideOutToLeft 0.75s ease-in-out; */
    animation: slideOutToBottom 0.75s ease-in-out forwards;
    z-index: 100;
    overflow: hidden;
}

.emergency-container{
    display: flex;
    flex-direction: unset;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    padding-right: 45px;
    padding-left: 45px;
}

.content.emergencyprotocols {
    background-image: url('images/overridebg.png');
    background-color: var(--orange);
}

.emergency-container a {
    width: 100%;
    padding: 0px;
}

.override-btn {
    border-radius: 20px; /* Gives the balloon shape */
    padding: 20px;
    margin: 5px;
    background-color: var(--light);
    border: 3px solid var(--dark);
    transition: all 0.25s ease-in-out;
    box-shadow: 5px 5px 0px 0px var(--dark);
    width: 90%;
    font-family: 'prime-bold';
    font-size: 30px;
    color: var(--dark);
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.override-btn:hover {
    transform: translateX(-2px) translateY(-2px); 
    box-shadow: 7px 7px 0px 0px var(--dark);
    filter: brightness(1.25);
}

.override-btn:active {
    transform: translateX(5px) translateY(5px); 
    filter: brightness(0.75);
    box-shadow: 0px 0px 0px var(--dark);
}

.content.reset {
    background-image: url('images/resetbg.png');
    background-color: var(--blue);
    /* animation: diagonalslide 20s ease-in-out infinite alternate; */
}

.content.stop {
    background-image: url('images/stopbg-01.png');
    background-color: var(--red);
    /* animation: diagonalslide 20s ease-in-out infinite alternate; */
}

.message-container {
    scale: 1;
    position: absolute;
    /* centered in div */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    background-color: var(--blue); 
    border: 5px solid var(--dark); 
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    color: var(--light);
    padding: 20px;
    box-shadow: 10px 10px 0px var(--dark);
}

.message-text {
    font-family: 'prime-bold';
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.symbol {
    --size: 100px; 
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 0px;
    left: 0px;
    transform: translate(-38%, -36%);
    width: var(--size);
    height: var(--size); 
}

.symbol .exclamation {
    padding: 0px;
    margin: 0px;
    top: 0px;
    left: 0px;
}

.message-btn {
    font-family: 'prime-bold';
    font-size: 25px;
    line-height: 0px;
    background-color: var(--light);
    color: var(--dark);
    border-radius: 5px;
    border: 2px solid var(--dark);
    padding: 10px 20px 10px 20px;
    margin: 12px 5px 12px 0px;
    transition: all 0.2s ease-in-out;
    box-shadow: 3px 3px 0px var(--dark);
}

.message-btn:hover {
    transform: translateX(-2px) translateY(-2px); 
    box-shadow: 5px 5px 0px var(--dark);
    color: var(--light);
    filter: brightness(1.25);
}

.message-btn:active {
    transform: translateX(3px) translateY(3px); 
    filter: brightness(0.75);
    box-shadow: 0px 0px 0px var(--dark);
}

.message-btn.yes {
    background-color: var(--green);
    color: var(--light);
}

.message-btn.no {
    background-color: var(--red);
    color: var(--light);
}

@keyframes diagonalslide {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

/* Animations*/
@keyframes slideInFromRight {
    0% {
        display: block;
        transform: translateX(100vw); /* Start in the original position */
    }
    50% {
        transform:translateX(75vw);
    }
    100% {
        transform:translateX(0vw);
    }
}

@keyframes slideOutToRight {
    0% {
        display: block;
        transform:translateX(0vw);
    }
    30%{
        transform:translateX(15vw);
    }
    50% {
        transform:translateX(16vw);
    }
    100% {
        display: none;
        height: 0;
        transform: translateX(100vw); /* Move it off the screen */
    }
}


@keyframes slideOutToLeft {
    0% {
        display: block;
        transform:translateX(0vw);
    }
    30%{
        transform:translateX(-25vw);
    }
    50% {
        transform:translateX(-26vw);
    }
    100% {
        display: none;
        transform: translateX(-100vw); /* Move it off the screen */
    }
}

@keyframes slideOutToTop {
    0% {
        display: block;
        transform:translateY(0vh);
    }
    30%{
        transform:translateY(-25vh);
    }
    50% {
        transform:translateY(-40vh);
    }
    100% {
        display: none;
        transform: translateY(-100vh); /* Move it off the screen */
    }
}

@keyframes slideOutToBottom {
    0% {
        display: block;
        transform:translateY(0vh);
    }
    30% {
        transform:translateY(10vh);
    }
    50% {
        transform:translateY(11vh);
    }
    100% {
        display: none;
        transform: translateY(100vh); /* Move it off the screen */
    }
}

.jiggle {
    animation-name: Jiggle;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
}

@keyframes Jiggle {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(5deg);
    }
    25% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(-5deg);
    }
    35% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* Status Containers */
.status-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: var(--nav-h);
}

.status-column {
    flex-basis: 100%;
    margin-bottom: 20px;
    padding: 5px;
}

.location-balloon {
    border-radius: 100px; /* Gives the balloon shape */
    padding: 10px;
    margin: 5px;
    font-family: 'chivo-mono';
    margin: auto;
    background-color: var(--light);
    color: var(--dark);
    width: 50%;
    text-align: center;
    align-items: center;
    border: 5px solid var(--dark);
}

.status-balloon{
    display: flex;
    flex-direction: row;
    border-radius: 100px; /* Gives the balloon shape */
    padding: 20px 15px 20px 15px;
    margin: 10px 0px 10px 10px;
    font-family: 'prime-bold';
}

.status-balloon.ready {
    background-color: var(--green);
}

.status-balloon.error {
    background-color: var(--red);
}

.status-balloon.offline {
    background-color: var(--red);
}

.status-balloon.complete {
    background-color: var(--blue);
}

.status-balloon.active {
    background-color: var(--orange);
}

.pi-server-name {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    align-self: center;
    color: var(--light);
}

.pi-server-status {
    margin: 0;
    padding: 0;
    font-size: 20px;
    align-self: center;
    color: var(--light);
    text-align: right;
    margin-left: auto;
    margin-right: 10px;
}

.dashboard-btn {
    display: flex;
    flex-direction: row;
    border-radius: 100px; /* Gives the balloon shape */
    width: 25px;
    height: 25px;
    background-color: var(--light);
    border: 3px solid var(--dark);
    transition: all 0.25s ease-in-out;
    box-shadow: 2px 2px 0px 0px var(--dark);
    align-self: center;
}

.dashboard-btn svg {
    pointer-events: none;
    margin: auto;
}

.dashboard-btn:hover {
    transform: translateX(-2px) translateY(-2px); 
    box-shadow: 4px 4px 0px 0px var(--dark);
    filter: brightness(1.25);
}

.dashboard-btn:active {
    transform: translateX(3px) translateY(3px); 
    filter: brightness(0.75);
    box-shadow: 0px 0px 0px var(--dark);

}

/* For Desktop Specific */
@media (min-width: 768px) {
    :root {
        --header-h: 100px;
    }

    /* distritube all objects equally */
    .header {
        justify-content: space-around;
    }

    .title-block {
        scale: 1;
        margin-left: 0px;
        margin-top: 0px; 
        display: flex;
    }

    .nav-container {
        flex-direction: column;
        width: var(--nav-w);
        min-width: var(--nav-w);
        height: calc(100% - var(--header-h));
        min-height: calc(100% - var(--header-h));
        position: fixed;
        right: 0;
        /* bottom: 0; */
    }

    .nav-btn {
        height: calc(100% / 5);
    }

    .content-container {
        width: calc(100vw - var(--nav-w));
        min-height: calc(100vh - var(--header-h));
        padding-bottom: 0px;
    }

    .content.inactive {
        animation: slideOutToRight 0.75s ease-in-out;
    }

    .message-container {
        scale: 2;
        transform: translate(-25%, -25%);
    }

    .status-container {
        padding-bottom: 0px;
    }

    .status-column {
        flex-basis: 49%;
    }

    .control-btn {
        display: flex;
    }

    .status-or-timer {
        display: flex;
        border: 5px solid var(--dark);
        border-top: 0;
        box-shadow: 5px 5px 0px 0px var(--dark);
        font-family: 'chivo-mono';
        font-size: 60px;
        padding: 5px 60px 5px 60px;
        margin: auto;
        margin-top: -8px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        width: auto;
    }

    .company-logo {
        display: flex;
        margin-left: auto;
    }

    .emergency-container a {
        width: 50%;
    }
}