@font-face {
    font-family: 'prime-bold';
    src: url('../fonts/courierprime-bold-webfont.woff2') format('woff2'),
         url('../fonts/courierprime-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'prime-regular';
    src: url('../fonts/courierprime-regular-webfont.woff2') format('woff2'),
         url('../fonts/courierprime-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'made-infinity';
    src: url('../fonts/made-infinity-webfont.woff2') format('woff2'),
         url('../fonts/made-infinity-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'waku-waku';
    src: url('../fonts/waku-waku-webfont.woff2') format('woff2'),
         url('../fonts/waku-waku-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}