@font-face {
  font-family: 'waku-waku';
  src: url('../fonts/Waku-Waku.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rubik';
  src: url('../fonts/Rubik.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'prime-bold';
  src: url('../fonts/CourierPrime-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'prime-regular';
  src: url('../fonts/CourierPrime-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'made-infinity';
  src: url('../fonts/Made-Infinity.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}