@font-face {
  font-family: 'wakuwaku';
  src: url('../static/fonts/mini-wakuwaku.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rubik';
  src: url('../static/fonts/RubikMonoOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'prime-bold';
  src: url('../static/fonts/CourierPrime-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'prime-regular';
  src: url('../static/fonts/CourierPrime-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'made-infinity';
  src: url('../static/fonts/Made-Infinity.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}